{% extends "layouts/main.html" %}
{% set page_title = "The DACCS Project" %}
{% set page_heading = "The DACCS Project" %}

{% block project_description %}
<div class="col-12 d-block py-3 mx-auto">
    <div class="row">
        <div class="col-11 d-block mx-auto border rounded cover-text-box">
            <h1 class="text-center">{{ page_heading }}</h1>
            <p>
                 The Data Analytics for Canadian Climate Services (DACCS) gateway will facilitate the conversion of raw climate data
                 from satellite observations and simulation models into relevant, credible and actionable information products.
                 DACCS is a Science Gateway comprised of reusable modular components that will provide services to a broad scientific
                 community through a unified user interface for: dataset search and discovery; user data management; data analytics;
                 visualisation; workflow management; publishing; and application deployment. As part of a larger Federated Cloud
                 Infrastructure, through this gateway, scientists can access data from different sources and process them using
                 existing algorithms developed by the academic, government and private sectors. Typical outputs are tables, time
                 series and graphics that support climate change impact studies, vulnerability assessments, and decision-making.
           </p>
         </div>
    </div>
</div>
{% endblock %}



{% set table_data = [
                {"name": "Steve Easterbrook", "institution": "University of Toronto", "department": "Computer Science"},
                {"name": "Samuel Foucher", "institution": "Centre de recherche informatique de Montréal (CRIM)", "department": "Vision and Imaging Team"},
                {"name": "Nathan Gillett", "institution": "Climate Research Division", "department": "Environment and Climate Change Canada"},
                {"name": "David Huard", "institution": "Ouranos", "department": "Scénarios et services climatiques"},
                {"name": "Paul Kushner", "institution": "University of Toronto", "department": "Physics"},
                {"name": "Damon H. Matthews", "institution": "Concordia University", "department": "Geography, Planning and Environment"},
                {"name": "Dan McKenney", "institution": "Natural Resources Canada", "department": "Canadian Forest Service"},
                {"name": "Bruno Tremblay", "institution": "McGill University", "department": ""},
                {"name": "Debra Wunch", "institution": "University of Toronto", "department": ""},
                {"name": "Francis Zwiers", "institution": "University of Victoria", "department": "Pacific Climate Impacts Consortium"},


            ] %}




{% block content %}
<div class="col-12 d-block py-3 mx-auto">
    <div class="row mt-4">
         <div class="col-11 d-block py-3 mx-auto border rounded cover-text-box">
            <h2>Learn More</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="https://marbleclimate.com/" target="_blank"><img class="logo-list-item pe-1" src="images/marble.png">The DACCS Marble Platform</a></li>
                <li class="list-group-item"><a href="https://github.com/DACCS-Climate/DACCS-executive-committee" target="_blank"><i class="fab fa-github fa-lg"></i> The DACCS Exec Committee</a></li>
            </ul>
         </div>
    </div>
</div>
<div class="col-12 d-block py-3 mx-auto">
    <div class="row mt-4">
     <div class="col-11 d-block mx-auto border rounded cover-text-box">
      <h2>Scientific Experts</h2>
        <div class="table-responsive">
          <table class="table table-striped">
           <thead>
            <tr>
                <th>Name</th>
                <th>Institution</th>
                <th>Department</th>
            </tr>
           </thead>
           <tbody>
           {% for row in table_data %}
                <tr>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["institution"] }}</td>
                    <td>{{ row["department"] }}</td>
                </tr>
           {% endfor %}
           </tbody>
          </table>
        </div>
     </div>
    </div>
</div>
{% endblock content %}